@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:ital,wght@1,300&display=swap');

*{
  overflow-y: visible;
  font-family: 'Inter', sans-serif !important;
  box-sizing: border-box;

}
.ourService {
  background-color: #ffffff;
  padding: 50px 0;
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -38px;
}
.containerServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.card {
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 8px;
  padding: 20px;
  width: 45%;
  height: 320px;
  text-align: justify;
}
.card:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.imageCarte {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


.imageCarte .img img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.card___btn {
  background: transparent;
  border: none;
  width: 100px;
  color: #A42593;
  font-weight: bolder;
  cursor: pointer;
  text-align: left;
}

.card___btn:hover {
  color: #022179;
  font-size: 13px;
}

.cardText {
  font-size: 12px;
  line-height: 1.5;
  color: #022179;
  margin-left: 5px;
}
.container__formation__disponible{
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
}
.container__formation__disponible .formation__dev{
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
      padding: 5px;
      border-radius: 12px 12px 0 0;
}
.container__formation__disponible img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.container__formation__disponible .formation__text{
  width: 250px;
  font-size: 10px;
  text-align: justify;
  padding: 0 10px;
  border-radius: 12px;
}

.formation__btn__section{
  display: flex;
  justify-content: space-between;
}

.btn__formation{
  background: transparent;
  color: #A42593;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
}
.btn__formation__enrole{
  background: #A42593;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
 
}

.formation__title{
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  text-align: start;
  margin-bottom: 5px;
  color: #022179;
}
.closeModal{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -1%;
  margin-left: -1%;
  position: fixed;
}

.btn__close__modal {
  background: transparent;
  color: #A42593;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 24px;
  margin-right: 10px;
  margin-top: 0;
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}