.titleServices {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
#bodyService{

  background-color: #f5f5f5;

}

.containerServices {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #f5f5f5;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 45%;
  text-align: justify;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.imageCarte {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.img {
  background-color: #e5e5e5;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.contentTruncated {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.contentExpanded {
  white-space: pre-wrap;
}
#lirePlus{
  display: flex;
  justify-content: center;
  align-items: center;
}
#lirePlus:hover{
  width: 100%;
}

.buttonLirePlus {
  background-color: #022179;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  width: 30%;
  font-weight: bold;
}
.buttonLirePlus:hover {
  background-color: #A42593;
  /* width: 100%; */
}

