.footer {
  background-color: #f0f0f0;
  padding: 20px;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}
.footer-section  a:hover{
  color: #A42593;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 5px;
}

.social-links a {
  color: #333;
  text-decoration: none;
}

.iconRs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconRs a:hover {
  color: #A42593;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #022179;
  margin: 5px;
  font-size: 20px;
}

.footer-section p {
  margin-bottom: 5px;
}

.footer-section p a {
  color: #333;
  text-decoration: none;
}
