/* Conteneur de la carte */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* la carte */
#map {
  width: 10%;
  height: 20%;
}
