

/* Réglez la hauteur de la carte en fonction de nos besoins */
.map-container {
  height: 400px;
  width: 100%;
}

/* Style du popup */
.leaflet-popup-content {
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

/* Style du pointeur */
/* .leaflet-marker-icon::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50px;
  min-height:50px;
  background-image: url(../../img/map.png);
  background-size: cover;
  
} */

.leaflet-marker-icon::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; 
  height: 50px; 
  background-image: url(../../img/map.png);
  background-size: contain; /* Utilisez "contain" pour conserver le ratio et afficher toute l'image */
  background-repeat: no-repeat;
}
